<table>
<tr>
  <td><%= form.label(:title) %></td>
  <td><%= form.text_field(:title) %></td>
</tr>
<tr>
  <td><%= form.label(:duration) %></td>
  <td><%= form.text_field(:duration) %></td>
</tr>
<tr>
  <td><%= form.label(:genre) %></td>
  <td><%= form.text_field(:genre) %></td>
</tr>
<tr>
  <td><%= form.label(:description) %></td>
  <td><%= form.text_field(:description) %></td>
</tr>
<tr>
  <td><%= form.label(:trailer) %></td>
  <td><%= form.text_field(:trailer) %></td>
</tr>
</table>
