<p>
<%= form.label(:title) %>
<%= form.text_field(:title) %>
<%= form.label(:duration) %>
<%= form.text_field(:duration) %>
<%= form.label(:genre) %>
<%= form.text_field(:genre) %>
<%= form.label(:description) %>
<%= form.text_field(:description) %>
<%= form.label(:trailer) %>
<%= form.text_field(:trailer) %>
</p>
